<div class="password-input" [formGroup]="passwordFormGroup">
  <mat-form-field appearance="outline">
    <mat-label>{{'COMMON.FORM.FIELDS.PASSWORD.LABEL' | translate}}</mat-label>
    <input matInput name="password" type="password" formControlName="password"
           placeholder="{{'COMMON.FORM.FIELDS.PASSWORD.LABEL' | translate}}"
           aria-required="true" aria-labelledby="passwordHint">
    <mat-error *ngIf="fieldIsInvalid('password')">
      {{'COMMON.FORM.FIELDS.PASSWORD.ERROR' | translate}}
    </mat-error>
  </mat-form-field>
  <div *ngIf="fieldIsInvalid('password')" class="password-hint"
       [innerHTML]="'COMMON.FORM.FIELDS.PASSWORD.HINT.MESSAGE' | translate">
  </div>

  <mat-form-field appearance="outline">
    <mat-label>{{'COMMON.FORM.FIELDS.PASSWORD_CONFIRM.LABEL' | translate}}</mat-label>
    <input matInput name="passwordConfirm" type="password" formControlName="passwordConfirmation"
           placeholder="{{'COMMON.FORM.FIELDS.PASSWORD_CONFIRM.LABEL' | translate}}"
           aria-required="true">
    <mat-error *ngIf="fieldIsInvalid('passwordConfirmation')">
      {{'COMMON.FORM.FIELDS.PASSWORD_CONFIRM.ERROR' | translate}}
    </mat-error>
  </mat-form-field>

</div>
