<app-page>
  <h2>{{'PASSWORD_RESET.PAGE_TITLE' | translate}}</h2>

  <p>{{'PASSWORD_RESET.PAGE_DESCRIPTION' | translate}}</p>

  <div class="flex">
    <div class="flex-small-content">
      <h3 class="margin-top">{{'PASSWORD_RESET.FORM.TITLE' | translate}}</h3>
      <form class="margin-top" [formGroup]="passwordResetForm" #ngForm="ngForm" (submit)="passwordReset()" autocomplete="off">
        <mat-form-field appearance="outline">
          <mat-label>{{'PASSWORD_RESET.FORM.FIELDS.EMAIL.LABEL' | translate}}</mat-label>
          <input matInput name="email" placeholder="{{'PASSWORD_RESET.FORM.FIELDS.EMAIL.LABEL' | translate}}"
                 formControlName="email" aria-required="true">
          <mat-error *ngIf="form.email.invalid && (form.email.touched || ngForm.submitted)">
            {{'PASSWORD_RESET.FORM.FIELDS.EMAIL.ERROR' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-spinner-button [options]="passwordResetBtnOptions" [disabled]="passwordResetForm.invalid"></mat-spinner-button>

      </form>
    </div>

    <div class="flex-space"></div>

    <a routerLink="/login" class="icon-link">
      <mat-icon svgIcon="arrow-left"></mat-icon>
      <span>{{'PASSWORD_RESET.LOGIN.LINK' | translate}}</span></a>
  </div>
</app-page>
