
<img src="assets/images/dlab_by_label.png" class="logo-desktop logo-dlab" alt="made with love by dlab logo">
<img src="assets/images/assets/images/android-icon-36x36.png" class="logo-desktop logo-officecheckin"
     alt="Office Check-in logo">

<div class="app-container">
  <img src="assets/images/emoticon-confused-outline.png" alt="sad emoticon" title="Browser unsupported">
  <div class="message">
    You are using an <strong>outdated or unsupported browser</strong>. We're currently looking for a solution to support
    your browser. In the meantime please use the newest version of <a href="https://www.google.com/chrome/" target="_blank">Chrome</a>,
    <a href="https://opera.com" target="_blank">Opera</a> or <a href="https://www.mozilla.org/" target="_blank">Firefox</a>.
  </div>
</div>
