$md-grey: (
  0: #000000,
  50 : #ffffff,
  100 : #f5f5f5,
  200 : #eeeeee,
  300 : #e7e7e7,
  400 : #cccccc,
  500 : #bbbbbb,
  600 : #aaaaaa,
  700 : #999999,
  800 : #888888,
  900 : #666666,
  A100 : #333333,
  A200 : #222222,
  A400 : #111111,
  A700 : #000000,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-limeyellow: (
  0: #39393A,
  50 : #fcfbe0,
  100 : #f7f6b3,
  200 : #f1f080,
  300 : #ebe94d,
  400 : #e7e526,
  500 : #e3e000,
  600 : #e0dc00,
  700 : #dcd800,
  800 : #d8d300,
  900 : #d0cb00,
  A100 : #fffff8,
  A200 : #fffdc5,
  A400 : #fffc92,
  A700 : #fffb79,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-turquoise: (
  0: #39393A,
  50 : #e4f4f6,
  100 : #bce3e8,
  200 : #8fd1d8,
  300 : #62bec8,
  400 : #40b0bd,
  500 : #1ea2b1,
  600 : #1a9aaa,
  700 : #1690a1,
  800 : #128698,
  900 : #0a7588,
  A100 : #b7f3ff,
  A200 : #84eaff,
  A400 : #51e2ff,
  A700 : #37ddff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-yellow: (
  50 : #fdf9e1,
  100 : #fbf1b3,
  200 : #f8e881,
  300 : #f5df4e,
  400 : #f3d828,
  500 : #f1d102,
  600 : #efcc02,
  700 : #edc601,
  800 : #ebc001,
  900 : #e7b501,
  A100 : #ffffff,
  A200 : #fff6da,
  A400 : #ffe9a7,
  A700 : #ffe38e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-blue: (
  50 : #e7e7e7,
  100 : #c4c4c4,
  200 : #9c9c9d,
  300 : #747475,
  400 : #575758,
  500 : #39393a,
  600 : #333334,
  700 : #2c2c2c,
  800 : #242425,
  900 : #171718,
  A100 : #6e6ef2,
  A200 : #3f3fee,
  A400 : #0000fb,
  A700 : #0000e1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-accent: (
  50 : #e1e4fd,
  100 : #b3bdfb,
  200 : #8191f8,
  300 : #4e64f5,
  400 : #2843f3,
  500 : #0222f1,
  600 : #021eef,
  700 : #0119ed,
  800 : #0114eb,
  900 : #010ce7,
  A100 : #ffffff,
  A200 : #dadbff,
  A400 : #a7a9ff,
  A700 : #8e90ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

